# Server Configuration
PORT=
HOST=
NODE_ENV=

# Database and Cache Connections
MONGO_URI=
REDIS_URL=

# Authentication and Security (JWT)
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# redis DB expires
REDIS_EX=
